@use "../../partials/mixins.scss" as *;

.player {
  &__container {
    width: 15rem;
    top: 5%;
    left: 25%;
    @include window-container;
  }
  &__buttons {
    display: flex;
  }
  &__button {
    height: 2rem;
    margin-top: 0.2rem;
    margin-right: 0.1rem;
    @include general-button;
  }
  &__now-playing-text {
    padding: 0.25rem 0;
  }
  &__visualizer {
    background-color: black;
  }
}
