.desktop {
  &__shortcut {
    display: block;
    background: none;
    color: white;
    border: none;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-top: 0.25rem;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      background: rgba(0, 100, 0, 0.3);
    }
  }
  &__icon {
    margin-bottom: 0.25rem;
  }
}
