@use "../../partials/mixins.scss" as *;

.setup-info {
  &__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.2rem;
  }
  &__button {
    margin-top: 0.2rem;
    @include general-button;
  }
  &__form-label {
    padding-bottom: 0.2rem;
  }
}
