@use "../../partials/mixins.scss" as *;

.setup {
  &__container {
    width: 15rem;
    top: 10%;
    left: 40%;
    @include window-container;
  }
  &__button {
    margin-top: 0.2rem;
    margin-right: 0.1rem;
    @include general-button;
  }
  &__label-input-container {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0;
  }
  &__login-label {
    width: 4.5rem;
  }
  &__login-input {
    @include text-window;
    resize: none;
    flex-grow: 1;
  }
  &__form {
    padding-top: 0.2rem;
  }
  &__logged-in {
    width: 25rem;
  }
}
