@use "../../partials/mixins.scss" as *;

.chat {
  &__container {
    width: 35rem;
    top: 40%;
    left: 20%;
    @include window-container;
  }
  &__window {
    background-color: white;
    height: 10rem;
    overflow-y: scroll;
    @include text-window;
    padding-right: 0.5rem;
  }
  &__form {
    display: flex;
  }
  &__username-input {
    @include text-window;
    margin-right: 0.25rem;
    flex-grow: 1;
  }
  &__username-input-button {
    @include general-button;
  }
  &__message-input {
    @include text-window;
    margin-right: 0.2rem;
    resize: none;
    flex-grow: 1;
  }
  &__message-input-button {
    @include general-button;
    padding: 1rem;
  }
  &__message-container {
    padding-top: 0.2rem;
  }
  &__logout-button {
    margin-top: 0.2rem;
    @include general-button;
  }
  &__hidden-input {
    display: none;
  }
}
