@use "../../partials/mixins.scss" as *;

.setup-files {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    margin-right: 0.25rem;
  }
  &__delete-button {
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    @include general-button;
  }
}
