*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "W95FA", monospace;
}

body {
  background-color: teal;
  overflow: hidden;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.active {
  z-index: 999;
}

// input[type="file"] {}
