@mixin header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.25rem;
  height: 1.5rem;
  line-height: 1.4;
  background: navy;
}

@mixin header-grabbable {
  color: white;
  flex-grow: 1;
  &:hover {
    cursor: grab;
  }
}

@mixin close-button {
  width: 1rem;
  height: 1rem;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  &:hover {
    cursor: pointer;
  }
  &:active {
    border-right: 2px solid #ededed;
    border-bottom: 2px solid #ededed;
    border-left: 2px solid #404040;
    border-top: 2px solid #404040;
  }
}

@mixin window-container {
  position: absolute;
  background-color: #c6c6c6;
  border-top: 2px solid #efefef;
  border-left: 2px solid #efefef;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 0.15rem;
  &--hidden {
    display: none;
  }
}

@mixin general-button {
  background: none;
  padding: 0.25rem;
  border-left: 1px solid #ededed;
  border-top: 1px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  &:hover {
    cursor: pointer;
  }
  &:active {
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    border-left: 2px solid #404040;
    border-top: 2px solid #404040;
  }
}

@mixin text-window {
  padding: 0.2rem;
  border-left: 2px solid #404040;
  border-top: 2px solid #404040;
  border-right: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
}

@mixin taskbar-inactive {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

@mixin taskbar-boxshadow {
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
}
